<%=  "Average age: #{Resident.average_age} years"%>


<h2><u><%= "All Residents" %></u></h2>
<% @residents.each do |resident| %>
  <h3><%= resident.name %></h3>
  <p>Age: <%= resident.age %></p>
  <p>Occupation: <%= resident.occupation %></p>
<% end %>